<section class="hero is-medium is-dark sp">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        {{params.title}}
      </h1>
      {{#if params.text}}
        <p>{{params.text}}</p>
      {{else}}
      <h4 class="sub-header has-text-warning">{{params.subtitle}}</h4>
      {{/if}}
      <br>
      {{#if params.author}}
      <div class="level">
        <div class="level-left">
          <div class="level-item">
            by {{params.author}}
          </div>
        </div>
      </div>
      {{/if}}
    </div>
  </div>
</section>
