{{content-header params=model}}
<section class="section">
  <div class="container">
    <div class="title">
      <h1>Comments</h1>
    </div>
    <div class="content">
    {{#each model.comments as |comment|}}
			<article class="media">
				<figure class="media-left">
					<p class="image is-64x64">
          <img src="{{comment.avatar}}">
					</p>
				</figure>
				<div class="media-content">
					<div class="content">
						<p>
            <strong>{{comment.author}}</strong> <small>{{comment.handle}}</small> 
            <img src='/iconic/svg/clock.svg' alt='clock'><small> 31M</small>
							<br>
						  {{comment.text}}	
						</p>
					</div>
        </div>
			</article>
    {{/each}}
    </div>
  </div>
</section>
